
@{
    ViewData["Title"] = "Planet";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Planet</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Planets of Star Wars</h1>
    </div>
    <br />
    <h4>Below is a list of all of the planets in the Star Wars Universe that we currently have data on. Choose any one to learn more about it!</h4>
    <br />
    <div class="dropdown-container">
        <div class="dropdown">
            <label for="planets">Select Planet</label>
            <select class="form-control" name="planetsDropdown">
                <option value="alderaan">Alderaan</option>
                <option value="yavinIV">Yavin IV</option>
                <option value="hoth">Hoth</option>
                <option value="dagobah">Dagobah</option>
                <option value="bespin">Bespin</option>
                <option value="endor">Endor</option>
                <option value="naboo">Naboo</option>
                <option value="coruscant">Coruscant</option>
                <option value="geonosis">Geonosis</option>
                <option value="utapau">Utapau</option>
                <option value="mustafar">Mustafar</option>
                <option value="kashyyyk">Kashyyyk</option>
                <option value="polisMassa">Polis Massa</option>
                <option value="mygeeto">Mygeeto</option>
                <option value="felucia">Felucia</option>
                <option value="catoNeimoidia">Cato Neimoidia</option>
                <option value="saleucami">Saleucami</option>
                <option value="stewjon">Stewjon</option>
                <option value="corellia">Corellia</option>
                <option value="eriadu">Eriadu</option>
                <option value="rodia">Rodia</option>
                <option value="nalHutta">Nal Hutta</option>
                <option value="dantooine">Dantooine</option>
                <option value="bestineIV">Bestine IV</option>
                <option value="ordMantell">Ord Mantell</option>
                <option value="trandosha">Trandosha</option>
                <option value="socorro">Socorro</option>
                <option value="monCala">Mon Cala</option>
                <option value="chandrila">Chandrila</option>
                <option value="sullust">Sullust</option>
                <option value="toydariaa">Toydaria</option>
                <option value="malastare">Malastare</option>
                <option value="tatooine">Tatooine</option>
            </select>
        </div>
    </div>
</body>
</html>
